/1. GetStarted/.expo/
/1. GetStarted/.expo-shared/
/1. GetStarted/node_modules/
.directory
.idea
/2. Components & Layout/.expo/
3. Navigation/node_modules/
3. Navigation/.expo/
3. Navigation/.expo-shared/
4. ProductShop/node_modules/
4. ProductShop/.expo-shared/
4. ProductShop/.expo/
/5. Device Feature/.expo-shared/
/5. Device Feature/node_modules/
/5. Device Feature/.expo/
